---
toc: true
comments: true
layout: post
title: Python Code Exhibit
description: This will show python code and what its capable of.
type: tangibles
courses: { compsci: {week: 1} }
---

## What You Need To Do
When starting off coding, all people do this to start off, they run some simple debug scripts to get started.

In [ ]:
print("Hello World")

A simple Hello World script will do, it is the easiest thing to do in the world of coding. Press the Run arrow to see what it does.

## Getting a bit more advanced

Now lets find out how to customize our print!

In [3]:
yourmsg = input("Input Your Message: ")
print(yourmsg)

Hello World

And just like that we have user input for a hello world function making it a bit harder. Lets see if we can make a table, first we need to import the required librarys so we can make a table. For this example we will use the pandas library to make a simple table with basic info.

In [2]:
import pandas as pd

data = {'Brand': ['Alice', 'Bob', 'Charlie', 'David'],
        'Model': [25, 30, 22, 28],
        'Cost': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
        ''}

df = pd.DataFrame(data)

df  # This line will display the DataFrame as a table

     Brand  Model           Cost
0    Alice     25       New York
1      Bob     30  San Francisco
2  Charlie     22    Los Angeles
3    David     28        Chicago